# Compiled output
out/
*.vsix

# Dependencies
node_modules/

# IDE
.vscode-test/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# pnpm
.pnpm-debug.log*