.vscode/**
.vscode-package-temp/**
.gitignore
tsconfig.json
src/**
!src/webview/**
*.vsix
pnpm-lock.yaml
.DS_Store
node_modules/**
!node_modules/quickjs-emscripten/**
!node_modules/@jitl/**
!node_modules/quickjs-emscripten-core/**