<%
// Simple daily note template with dynamic greeting based on time of day
const hour = new Date().getHours();
let greeting;
if (hour < 12) {
    greeting = 'Good morning';
} else if (hour < 18) {
    greeting = 'Good afternoon';
} else {
    greeting = 'Good evening';
}
%>
# <%= greeting %>, <%= user %>! 📝

**Date:** <%= dateHelper.getDayName() %>, <%= monthName %> <%= day %>, <%= year %>
**Time:** <%= timeHelper.format12Hour() %>

## Today's Focus
-

## Notes


## Done
- [ ]

---
*Workspace: <%= workspace %>*
